body {
    color: white;
    font-size: 14px;
}
button {
    color: white;
    text-align: left;
}
h1 {
    font-size: 32px;
}
h3 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}
h4 {
	 margin-bottom: 0rem;
}
select {
    background: none;
    color: white;
    padding: 0.5rem;
    border-width: 0px;
}
option {
    color: black;
}
li {
	list-style-type:none;
}
ul {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
a {
	text-decoration: none;
}

.text-font-outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.text-font-dynapuff {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 400;
}
.text-font-calsans {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* cannot be bolded */
}

.text-size-10 {
    font-size: 10px;
}
.text-size-12 {
    font-size: 12px;
}
.text-size-18 {
    font-size: 18px;
}
.text-size-24 {
    font-size: 24px;
}
.text-size-28 {
    font-size: 28px;
}

.text-bold {
    font-weight: 700;
}

.text-white {
    color: white;
}
.text-grey {
    color: grey;
}

.text-centre { 
	 /*
		 only works on divs
	 */
	 align: center;
	 width: 100%;
}

.grid-1x1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}
.grid-1xr-6 {
	 display: grid;
	 grid-template-columns: repeat(auto-fill, 13dvw);
	 padding: 1rem;
}
.grid-1x6 {
    display: grid;
    grid-template-columns: 1fr 6fr;
	 grid-template-rows: 100%;
    gap: 1rem;
    padding: 1rem;
}
.grid-1x4x2 {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    gap: 1rem;
    padding: 1rem;
}

.grid-item-1p {
    padding: 1rem;
}
.grid-item-2p {
    padding: 0.5rem;
}
.grid-item-1m {
	 margin: 1rem;
}
.grid-item-2m {
	 margin: 0.5rem;
}
.grid-item-4m {
	 margin: 0.25rem;
}

.container-fix {
    position: fixed;
}
.container1-bg {
/*
    OLD
    background-color: #001e970c;
*/
    background-color: #000f4a66;
}

.button-bg {
/* OLD 
    background-color: #000a31ff;
    border: 3px solid #000a31ff;
*/
    background-color: #121e50ff;
    border: 3px solid #121e50ff;
}
.button-bg:hover {
    background-color: #293a7cff;
    border-color: white;
}

.underline {
    border-bottom: 2px solid white;
}

.round-8 {
    border-radius: 8px;
}
.round-16 {
    border-radius: 16px;
}

.placeholder {
    visibility: hidden;
}
.hidden {
    display: none;
}
